@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {font-family: "QuirkiScandi"; src: url("./assets/fonts/QuirkiScandi.otf");
  src: url("./assets/fonts/QuirkiScandi.otf") format("opentype"), 
    url("./assets/fonts/QuirkiScandi.ttf") format("truetype"),
  }


#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;

}

.app {
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.094), rgba(0, 0, 0, 0.148) ), url('./assets/background.jpg') ;
  background-size: cover;
  background-position: center;
}

.card {
  background: linear-gradient(11deg, #0e1225a0, #0a232098);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.8px);
-webkit-backdrop-filter: blur(8.8px);
border: 1px solid rgba(255, 255, 255, 0.473);
  -webkit-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;
  border-radius: 25px;
  box-shadow: -1px 42px 71px 0px rgba(0,0,0,0.19);
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 88%}
  50%{background-position:100% 13%}
  100%{background-position:0% 88%}
}
@keyframes AnimationName {
  0%{background-position:0% 88%}
  50%{background-position:100% 13%}
  100%{background-position:0% 88%}
}
.text_b{
  background: linear-gradient(11deg, #0e1225a0, #0a232098);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.8px);
-webkit-backdrop-filter: blur(8.8px);
border-radius: 25px;
padding: 10px;
}
.card h1{
  font-family: 'QuirkiScandi';
  background: linear-gradient(to right, #f4ffef 0%, #e0ffc0 100%);
  background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent
}
.card h2{
  font-family: 'QuirkiScandi';}

/* @media only screen and (max-width: 600px) {
  .card {
      width: 80%;
      height: 30%;
  }
} */
